@import "variable_overrides";
@import "../node_modules/bootstrap/scss/mixins.scss";
.navbar-custom {
    .navbar-brand {
      color: white;
  
      @include hover-focus() {
        color: $blue;
      }
    }
  
    .navbar-nav {
      margin:auto;
     
      .nav-link {
        color:$green;
        text-transform: uppercase;
        font-weight: bold;
        
        @include hover-focus() {
          color: white;
        }
  
        
      }
      .nav-link{
        margin:20px;
      }
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $green;
        
        @include hover-focus() {
          
          color: white;
        }
      }
      
    }
  
  
    .navbar-text {
      color: $green;
      a {
        color:$green;
        
        @include hover-focus() {
          
          color: white;
        }
      }
    }
  }

  .bg-green {
    background-color: $blue;
  }
  
  
@import "../node_modules/bootstrap/scss/bootstrap.scss";



